:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary-bg-color-custom: black;
  --primary-txt-color-custom: rgb(238, 238, 238);
  --secondary-bg-color-custom: rgb(79, 111, 82, 0.8);
  --secondary-txt-strong-color-custom: rgb(115, 144, 114);
}

body {
  background-color: black;
  color: var(--primary-txt-color-custom);
}
